{% load static %}
<!DOCTYPE html>

<html>

<head>
<title>Profile</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<!-- Latest compiled validate js -->
<script src="{% static 'js/jquery.validate.min.js' %}"></script>

<!------ Include the above in your HEAD tag ---------->
</head>


<body>

 <h3>Firstname : {{ main.firstname }}</h3>
 <h3>Lastname : {{ main.lastname }}</h3>
 <h3>Email : {{ main.email }}</h3>

 <h3><a href="/logout">Logout</a></h3>
</body>
</html>